<% layout('layout/boilerplate.ejs') %>

    <div id="map" style="width: 100%; height: 300px;" class="mb-3"></div>

    <div class="container">
        <div class="row">
            <form action="/campgrounds/searchcamps" method="get" class="col-md-6 col offset-md-3" id="searchForm">
                <div class="input-group mb-3">
                    <input type="text" placeholder="Search Campgrounds" name="q" class="form-control" id="searchBar">
                    <button class="btn btn-outline-secondary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                        </svg>
                    </button>
                </div>
            </form>
        </div>

    <h1>All Campgrounds</h1>
    <% for (let c of camp) {%>
        <div class="card mb-4" style="height: auto">
            <div class="row">
                <div class="col-md-4">
                    <% if(c.images.length){ %>
                        <img crossorigin="anonymous" src='<%= c.images[0].url %>' alt='<%= c.title %>' class="img-fluid">
                        <% } else { %>
                            <img crossorigin="anonymous" class="img-fluid"
                                src="https://res.cloudinary.com/dnkqy2kkr/image/upload/v1732358412/no-image_zedozj.jpg"
                                alt="No image">
                            <% } %>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= c.title %>
                        </h5>
                        <p class="card-text">
                            <%= c.description %>
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                <%= c.location %>
                            </small>
                        </p>
                        <a href="http://localhost:3000/campgrounds/<%= c._id %>" class="btn btn-primary">View <%=
                                c.title %></a>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
    </div>
                                
                                <script>
                                    const maptilerApiKeyAgain = '<%- process.env.maptilerApiKey %>';
                                    const campgrounds = { features: <%- JSON.stringify(camp) %> };
                                </script>
                                
                                <script src="/javascripts/clusterMap.js"></script>

                                <script>
                                    const searchForm= document.querySelector('#searchForm')
                                    const searchBar= document.querySelector('#searchBar')
                                    searchForm.addEventListener('submit',(e)=>{
                                        if(searchBar.value.trim()===''){
                                            e.preventDefault()
                                        }
                                    })
                                </script>